body {
    background-color: #ffffff;
    font-size: 32px;
    /* color: #0092a5; */
}

#board {
    height: 600px;
    width: 600px;
    border: 1px black solid;
    position: absolute;
    left: 35%;
    top: 10%;
    /* background-color: rgb(255, 255, 255) */
  }
  
#target {
    height: 50px;
    width: 50px;
    position: absolute;
  }

#score {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 6%;
  left: 35%;
}

#buttons {
  
  position: absolute;
  left: 35%;
  top: 79%
}

#title {
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}