body {
    background-color: #c4f8ff;
    font-size: 32px;
    /* color: #0092a5; */
}

#board {
    height: 600px;
    width: 600px;
    border: 1px black solid;
    position: relative;
    color: white
  }
  
#target {
    height: 50px;
    width: 50px;
    position: absolute;
  }

#title {
  font-size: 32px;
}